/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

BODY {
  margin-top: 3em;
  margin-left: 3em;
}

H3 {
  margin-top: 30px;
}
